.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Cal Builder Styles. */

/* Tag & Local Filter Styles. */
.tag,
.option-toggle {
  background: #A9F;
  border-radius: 0.25em;
  display: inline-block;
  margin-bottom: 0.25em;
  margin-right: 0.25em;
  padding: 0.5em;
  border: 1px #fff solid;
  transition: all 0.2s linear;
}
.tag:hover,
.option-toggle:hover {
  /*background: #FFF;*/
  border: 1px #F9F solid;
}
.tag.selected-true,
.option-toggle.option-true {
  background: #F9F;
}
.tag:active,
.option-toggle:active {
  background: #D7D;
}
/*Overrides for specific invert toggle */
.option-toggle.option-name-showmore {
 background: #A9F;
}
.option-toggle.option-name-showmore.option-false {
 background: #F9F;
}
.tag.disabled {
  background: #FFF;
  opacity: 0.3;
}
.tag span.count,
.option-toggle span.status {
  display:inline-block;
  background: #fff;
  border-radius: 0.25em;
  width: 2em;
  opacity: 0.4;
  padding: 0.1em 0.15em;
}
.option-xtras-switch-left {
  border-radius: 0;
  border-width: 1px 0;
  margin-right: 0px;
  min-width: 100px;
} 
.option-xtras-switch-right {
  border-width: 1px 0;
  border-radius: 0;
  margin-left: 0px;
  min-width: 100px;
}


/* Calendar Styles. */
.calendar-element {
  background: #AAA;
  margin: 1em;
  padding: 0.25em;
}

.viz-false {
  display: none;
}

/*Toast overrides */

.toasties {
  position: relative;
  /*top: 200px;*/
}

button.pt-button.pt-icon-cross {
  /*background: red !important;*/
}
button.pt-button.pt-icon-cross::before {
  content: 'X';
}

.io-menu {
  margin: 0 auto;
  margin-top: 1em;
  width: 98%;
}